.cabecalho {
    padding-left: 20px;
}
nav ul{
    position: absolute;
    top: 110px;
    right: 0;
} 
.produto li {
    display: inline-block;
}

.produto img {
    width: 400px;
    height: 200px;
    margin-top: 10px;
}
.produto p {
    text-align: center;
    fo
}
.icone {
  position: fixed; 
  bottom: 25px; 
  right: 650px;
 } 

